<div class="container">
  <div class="row">
    <% @projects.each do |proj| %>
    <% proj_data = @computed_data.select { |dataset| dataset[:project][:id] == proj.id } %>
    <% url1 = "/users/#{current_user.id}/projects/#{proj.id}" %>
    <% url2 = "location.href=" +"'"+ "#{url1}" + "'" %>
      <div class="col-xs-9 col-sm-5 col-md-5 col-md-offset-1">
        <div class="card-proj" onclick="<%= url2 %>">
          <div class="card-image">
            <div>
              <%= image_tag url_for(proj.images[0]), style: 'width:200px;height:150px;' %>
            </div>
          </div>
          <div class="card-captions">
            <div>
              Title
            </div>
            <div>
              Price
            </div>
            <div>
              Target
            </div>
            <div>
              Pledged
            </div>
            <div>
              Guaranteed
            </div>
            <div>
              Status
            </div>
          </div>
          <div class="card-data">
            <div>
              <%= proj.title %>
            </div>
            <div>
              <%= proj.price %>
            </div>
            <div>
              <%= proj.target %>
            </div>
            <div>
              <%= proj_data[0][:pledged] %>
            </div>
            <div>
              <%= proj_data[0][:guaranteed] %>
            </div>
            <div>
              <%= proj.status %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
